{
  "presets": ["es2015", "es2017", "stage-3"],
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime"
  ]
}